{% extends "base_with_bootstrap.html" %}
{% load bootstrap5 %}

{% block bootstrap5_title %}Update hardware{% endblock %}

{% block hlavni_nadpis %}
    <h3 class="text-center mt-4 mb-4">Úprava stroje</h3>
{% endblock %}

{% block content %}
   {% if hardware %}
    <div class="container mt-4">
        <div class="card shadow-lg rounded-lg">
            <div class="card-header bg-secondary text-white">
                <h3>Aktualizace hardwaru: {{ hardware.hw_name }}</h3>
            </div>
            <div class="card-body">
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-12">
                            {% bootstrap_form form %}
                        </div>
                    </div>

                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    <div class="row mt-3">
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary">Odeslat</button>
                        </div>
                    </div>
                </form>

                {% if messages %}
                    <hr>
                    <div class="row mt-3">
                        <div class="col-12">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}